.container {
  padding: 50px;
  width: 60%;
  margin: auto;
  background-color: aliceblue;
}

.profile {
  height: 80%;
  padding: 20px;
  margin: auto;
  min-width: 20%;
  max-width: 50%;
  max-height: 500px;
  background-color: #e9e9e9;
}

.avatar {
  margin-top: 50px;
  height: 150px;
  background-color: #ffffff;
  border-radius: 100%;
}

.name {
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 60px;
  text-align: center;
}

.stats {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding-inline-start: 0px;
}

.stats > li {
  padding-inline-start: 0px;
  display: flex;
  flex-direction: column;
}

.tag {
  margin: 0;
  font-size: 24px;
  color: #818181;
}

.location {
  margin: 0;
  font-size: 24px;
  color: #818181;
}
